<html>
    <head>

    </head>
    <body>
       <form action='/schema' method='post' enctype=multipart/form-data>
          <!-- <input type='number' name='a' required='required'/>
           <input type='number' name='b' required='required'/>
           <input type='number' name='c' required='required'/>
           <input type='number' name='d' required='required'/>
           <input type='number' name='e' required='required'/>
           <input type='number' name='f' required='required'/>
           <input type='number' name='g' required='required'/>
           <input type='number' name='h' required='required'/>-->
           <input type='file' name='file' required='required'>
           <button type='submit'>Generate schema</button>
           </form>
    </body>
</html>